[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mike = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-robust-chat = {git = "https://github.com/greysondn/mkdocs-robust-chat.git", ref = "v0.1.1"}

[requires]
python_version = "3.12"
