[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mike = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}

[requires]
python_version = "3.12"
